h1, h3, h4, figure, img {
	text-align: center;
}

body {
	padding: 0px 0 0 0;
	background-color: rgba(240, 237, 237, 1.0);
}

.nav_button{
	overflow: hidden;
	min-width: 1000px;
	width: 100%;
	height: auto;
	background: url(../images/background.jpeg) top repeat-x;
}

.logoutform{
	margin-right: 300px;
	float: right;
}

.goBackform{
	margin-bottom: 10px;
	margin-left: 200px;
	float: left;
}

.logout {
	width: 90px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: black;
	text-shadow: 1px 1px 1px grey;
	border-radius: 5px;
	margin: 30px auto 20px 90%;
	overflow: hidden;
}

.goBack{
	width: 90px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	color: black;
	text-shadow: 1px 1px 1px grey;
	border-radius: 5px;
	margin: 30px 90% 20px auto;
	overflow: hidden;
}

.submitButton{
	width: 100px;
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: black;
	border-radius: 5px;
	margin: 5px 10% 0px 90%;
	overflow: hidden;
}

.postComment,.comment{
	border-width: 1px;
	border-color: #0061AA;
	border-top: dashed; 
}



